# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.venv
venv/
ENV/

# Database
*.db
*.sqlite3

# Environment variables
.env

# Node
node_modules/
frontend-react/dist/
frontend-react/node_modules/
.DS_Store

# IDEs
.vscode/
.idea/
*.swp
*.swo
